.allAddPasswordContainer {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
}

.mobileUserPasswordImage {
  display: none;
}

.desktopUserPasswordImage {
  display: block;
}

.desktopUserPasswordImage img {
  width: 300px;
  height: 280px;
}

.inputcontainer {
  background-color: #454f84;
  border-radius: 10px;
  height: 280px;
  width: 340px;
}

@media screen and (max-width: 650px) {
  .desktopUserPasswordImage {
    display: none;
  }

  .mobileUserPasswordImage {
    display: block;
    margin-bottom: 20px;
  }

  .mobileUserPasswordImage img {
    width: 300px;
    height: 280px;
  }
  .allAddPasswordContainer {
    flex-direction: column;
    align-items: center;
  }
  .inputcontainer {
    width: 300px;
    height: 320px;
  }
}
