.showpasswordContainer {
  padding: 20px 30px;
  min-height: 360px;
}
.carditems {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 750px) {
  .showpasswordContainer {
    padding: 20px 30px;
    height: 100%;
  }
}

@media screen and (max-width: 650px) {
  .carditems {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}
